<!DOCTYPE html>
<html style="height: 100%">
<head>
    <link href="@Url.Content("~/styles.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body style="height: 100%">
    @RenderBody()
</body>
</html>